%p#notice= notice
%p
  %strong Name:
  = @provider.name
%p
  %strong Description:
  = @provider.description

= render 'podcasts_table'

= link_to 'Edit', edit_provider_path(@provider)
|
= link_to 'Back', providers_path