%table
  %thead
    %tr
      %th Name
      %th Description
      %th Duration
      %th Air Date
      %th{:colspan => "3"}
  %tbody
    - @episodes.each do |episode|
      %tr
        %td= link_to(episode.name,episode_path(episode.id))
        %td= episode.description
        %td= episode.display_time("duration") 
        %td= episode.display_time("air_date")
        %td= link_to 'Show', episode
        %td= link_to 'Edit', edit_episode_path(episode)
        %td= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' }