%p#notice= notice
%p
  %strong Name:
  = @podcast.name
%p
  %strong Logo:
  = image_tag(@podcast.image_url)
%p
  %strong Genre:
  = @podcast.genre
%p
  %strong Summary:
  = @podcast.summary
%p
  %strong Provider:
  = @provider.name

= render 'episode_table'

= link_to 'Edit', edit_podcast_path(@podcast)
|
= link_to 'Back', podcasts_path
