%p#notice= notice
%h1 Episodes
%table
  %thead
    %tr
      %th Name
      %th Description
      %th Duration
      %th Air date
      %th Podcast
      %th{:colspan => "3"}
  %tbody
    - @episodes.each do |episode|
      %tr
        %td= episode.name
        %td= episode.description
        %td= episode.duration 
        -# strftime("%H:%M:%S")
        %td= episode.air_date 
        -# to_formatted_s(:long)
        %td= episode.podcast.name
        %td= link_to 'Show', episode
        %td= link_to 'Edit', edit_episode_path(episode)
        %td= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Episode', new_episode_path
