%p#notice= notice
%p
  %strong Name:
  = @episode.name
%p
  %strong Description:
  = @episode.description
%p
  %strong Duration:
  = @episode.display_time("duration") 
%p
  %strong Air date:
  = @episode.display_time("air_date") 
  
= link_to 'Edit', edit_episode_path(@episode)
|
= link_to 'Back', episodes_path
