<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @episode.duration.strftime("%H:%M:%S") %>
</p>

<p>
  <strong>Air date:</strong>
  <%= @episode.air_date.to_formatted_s(:long) %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
